.showCards{
    color:white;
    background-image: url(../images/tarjetamuestra.png);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 95%;
    margin:4px;
    padding: 5px; 
   
}
.add-card{
    margin: 10px;
    padding: 10px;
}
.background-card{
height: auto;
width: 95%;
/* position: relative; */
}
.card-info{
    /* position: absolute; */
    z-index: 100;
    display: flex;
    color: white;
}
.info-display{
    display: flex;
    flex-direction: row;;
    width: 100%;
    margin-top: -10px;

}
.btn-show{
    display: flex;
    justify-content: space-evenly;
}
.btn-action{
    border: 0;
    background-color: #1F45CB;
    padding: 20px;
    border-radius: 10px;
    color:white;

}