.App {
  text-align: center;
}

.login_container{
  margin-top: 50%;
}
.login_container button{
  width: 50%;
  height: 8vh;
  font-size: x-large;
}
.container_email, .container_password{
  margin-bottom: 5%;
}
.inputs{
  width: 80%;
  height: 10vh;
}
